@import "tailwindcss";

:root {
  --background: #f6f8f7;
  --foreground: #102218;
  --primary: #13ec6d;
  --background-dark: #102218;
  --background-light: #f6f8f7;
  --positive: #0bda43;
  --negative: #ff5252;
  --panel-dark: #111814;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #102218;
    --foreground: #f6f8f7;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-background-dark: var(--background-dark);
  --color-background-light: var(--background-light);
  --color-positive: var(--positive);
  --color-negative: var(--negative);
  --color-panel-dark: var(--panel-dark);
  --font-sans: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}